		<div id="footer">
			<img class="MainLogo" src="/images/logo.png" alt="">
			<p>Copyright <i class="fa fa-copyright"></i></p>
		</div>
		<script type="text/javascript" src="/scripts/index.js"></script>
		<script type="text/javascript" src="/scripts/bodyClass.js"></script>
	</body>
</html>