<div id="footer">
		<img src="/images/logo.png" width="40" height="40" alt="">
		<p>Copyright <i class="fa fa-copyright"></i></p>
	</div>
	
	<script type="text/javascript" src="/scripts/landing.js"></script>
</body>
</html>