<% include partials/header %>
    <div class="jumbotron jumbotron-fluid aboutJumbo">
		<div class="container">
	    	<h1 class="display-1" style="text-align: center"> About Us</h1>
		</div>
    		<div class="row">
    		    <div class="col-sm-1 col-lg-2"></div>
    		    <div class="col-sm-10 col-lg-8">
    		        <p class="about-paragraph text-center">
		            <br>
                    We are here to help you having fun and enjoy life as much as you can. 
                    Life has so many aspects and there are many places to visit to create 
                    wonderful memories that will stay forever. It is important to spend some 
                    time for your own benefit by doing nature activities or 
                    indoor activities. This website is designed just for you to fulfill most 
                    of your needs if not all of it. The Rahal team are here to provide you 
                    with the most professional service to accommodate your needs and 
                    meet your satisfaction. Also, by becoming a member in Rahal, it will make 
                    your activity more memorable, whether it is an indoor, or an 
                    outdoor activity. <a href="#">Click here</a> for more information.
                </p>
    		    </div>
    		</div>
	</div>
    
<% include partials/footer %>