<% include partials/header %>
    <div class="row">
        <div class="col-sm-6">
            <p class="about-paragraph text-center">
                We are here to help you to have fun and enjoy life as much as you can. 
                Life has so many aspects and there are a lot of places to visit to make 
                a fun memory to remain your entire life. It is important to spend some 
                of your time for your self by going out there in the nature or in an 
                indoor activity. This website is designed just for you to fulfill most 
                of your needs if not all of it. The Rahal team are here to provide you 
                with the most professional service to you to accommodate your needs and 
                meet your satisfaction. Also, becoming a member in Rahal, it will make 
                your activity that you’ are doing more memorable weather it is an 
                indoor, or an outdoor activity. Click here for more information.
            </p>
        </div>
    </div>
    
    
<% include partials/footer %>