<% include partials/header %>
	
	<!--<div class="jumbotron jumbotron-fluid">-->
	<!--	<div class="container">-->

	<!--	</div>-->
	<!--</div>-->

	<div id="top-div" class="sections">
		<div class="row">
			<h1 class="col-sm-12">Activities</h1>
			<span id="left-span"class="col-md-2 d-none d-lg-block"><button id="left-arrow" class="btn btn-success btn-block" onclick="plusSlides(-1)">&#10094;</button></span>
			<div class="col-lg-8 col-sm-12 outer">				
				<figure class="images">										
					<img id="Outdoor" src="/images/Hiking.jpg">		
					<div class="captions">Outdoor</div>			
				</figure>
				<figure class="images">					
					<img id = "Indoor" src="/images/indoor.jpg">	
					<div class="captions">Indoor</div>			
				</figure>
				<figure class="images">	
					<img id = "Member" src="/images/member.png">	
					<div class="captions">Join Us!</div>	
				</figure>			
			</div>
			<span id="right-span"class="col-md-2 d-none d-lg-block"><button id="right-arrow" class="btn btn-success btn-block" onclick="plusSlides(1)">&#10095;</button></span>
		</div>
		<div class="row">
			<span class="col-sm-2"></span>
			<div class="col-sm-8" style="text-align: center;">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
			</div>
			<span class="col-sm-2"></span>
		</div>		
	</div>
	<div id="second-div" class="sections">
		<div class="row">
			<span class="col-lg-2"></span>
			<div class="col-sm-12 col-lg-8">
				<h1>Shop</h1>
				<img class="img-fluid" src="/images/shop.jpg">
			</div>
		</div>
	</div>
	<div id="third-div" class="sections">
		<div class="row">
			<span class="col-lg-2"></span>
			<div class="col-sm-12 col-lg-8">
				<h1>Latest News</h1>
				<img class="img-fluid" src="/images/news.jpg">
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/scripts/landing.js"></script>
<% include partials/footer %>