<% include ./partials/header %>
    <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
            <div class="container">
                <p class="membership-paragraph text-center">
                    By becoming a member of Rahal, you will get a free instant print camera 
                    that prints a picture of you and your group that you are going with. 
                    This camera is going to be your best friend whenever you go on an activity. 
                    Another option is to send us your pictures over by clicking here and we will 
                    print you the pictures sent to us (max of 30 picture) and we will send them 
                    over to you in a nice album. You can customize the album that you want it 
                    and we will take care of the rest. Click here to see the available designs. 
                    You will still have the points process as per activity that you do with 
                    Rahal, but you are getting a free camera and a shirt every month. 
                </p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="container membershipLabels">
                        <h1> Bronze</h1>
                        <h2> 29$ </h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="container membershipLabels">
                        <h1> Silver</h1>
                        <h2> 49$ </h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="container membershipLabels">
                        <h1> Gold</h1>
                        <h2> 59$ </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>