<% include ./partials/header %>
    <div class="backgroundImage"></div>
    <div class="row">
        <h1 class="col-sm-12 login-signup-h1">Create Profile</h1>
        <span class="col-lg-4 col-sm-1"></span>
        <div class="col-lg-4 col-sm-10">
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
            	<div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="first name (optional)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="last name (optional)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="email (optional)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="avatar" placeholder="avatar url (optional)">
                </div>
                <div class="form-group">
                    <button class="login-signup-button btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
        </div>
        <span class="col-lg-4 col-sm-1"></span>
    </div>
<% include ./partials/footer %>