.aboutJumbo{
    background-image: url("/images/about-us.jpeg");
    background-size: 100% 100%;
    min-width: 100%;
    background-attachment: fixed;
    height: 90vh;
    margin:0;
}

.about-paragraph{
    padding-top: 1em;
    color: #EEEFEF;
    font-size: 1.5em;
}

@media screen and (max-width: 1024px){
    .about-paragraph{
        font-size: 2em;
    }
}