.contactJumbo{
    background-image: url("/images/mainImage.jpg");
    background-size: 100% 100%;
    min-width: 100%;
    background-attachment: fixed;
    margin:0;
    color: #EEEFEF;
}

.contact-paragraph{
    color: #EEEFEF;
    font-size: 1.5em;
}

.paragraph-div{
    margin-bottom: 10em;
    font-size: 1em;
}

@media screen and (max-width: 1024px){
    .contact-paragraph{
        font-size: 2em;
    }
    
    .contact-form{
        font-size: 2em;
    }
}


.contact-input, .contact-select, .contact-textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    background: #666160;
    color: #EEEFEF;
}

.contact-label{
    color: #F2F2F2;
}

/* Style the submit button with a specific background color etc */
.contact-button {
    background-color: #866EDF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.contact-button:hover {
    transition: 0.3s;
    background-color: #5F5192;
}

/* Add a background color and some padding around the form */
/*.contact-form {*/
/*    border-radius: 5px;*/
/*    background-color: #2f2f2f;*/
/*    padding: 20px;*/
/*    box-shadow: 0 -1.5em 1em -1em #222;*/
/*}*/


/*Change placeholder text color*/

::placeholder { /* Firefox, Chrome, Opera */ 
    color: #D0C7C6; 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #D0C7C6; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #D0C7C6; 
}