.usernameH1{
    padding-bottom: 0;
    text-align: center;
    color: #EEEFEF;
}

.editButton{
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 2em;
}

.userImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.profileBody{
    padding-top: 5em;
}

.profileInfo{
    padding-top: 6em;
    color:#EEEFEF;
}

.labels{
    margin-bottom: 3em;
}

@media screen and (max-width: 1024px) {
    .labels{
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .editButton{
        margin-top: 2em;
    }
}