<% include ../partials/header %>
<div class="editPopUp">
    <form class="editMenu">
        <div class="form-group">
            <span><strong>Add a link to an image</strong></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="avatarEdit" placeholder="Link here">
        </div>
        <div class="form-group">
            <span>OR</span>
        </div>
        <div class="form-group">
            <span class="uploadText"><strong>Upload your own image</strong></span>
        </div>
        <div class="form-group">
            <input type="file" style="" id="file" name="file"/>
        </div>
        <div class="form-group">
            <button class="submitButton btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
    </form>
</div>
<div class="row profileBody">
    <div class="col-md-4">
        <h1 class="usernameH1"> <%= user.username.charAt(0).toUpperCase() + user.username.slice(1)%> </h1>
        <figure class="userImage">
            <img class="img-thumbnail" src="<%= user.avatar%>" alt='user profile image'>
            <button class="editButton btn btn-lg btn-primary btn-block">Edit Image</button>
        </figure>   
    </div>
</div>
<script type="text/javascript" src="/scripts/editPopup.js"></script>
<% include ../partials/footer %>